<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :cell_phone %>
    <%= f.text_field :cell_phone %>
  </div>

  <div class="field">
    <%= f.label :encrypted_password %>
    <%= f.text_field :encrypted_password %>
  </div>

  <div class="field">
    <%= f.label :reset_password_token %>
    <%= f.text_field :reset_password_token %>
  </div>

  <div class="field">
    <%= f.label :reset_password_sent_at %>
    <%= f.datetime_select :reset_password_sent_at %>
  </div>

  <div class="field">
    <%= f.label :user_create_at %>
    <%= f.datetime_select :user_create_at %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
